@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

#157811
*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;

}
a{
	text-decoration: none;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:100vh;
	background: #131313;

}
.name{
	text-transform: uppercase;
	padding: 10px 5px;
	text-align: center;
	color: #fff;
	position: relative;
}
.container{
	position: relative;
	



}
.big-three{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 20px;
}




.container .card2{
	position: relative;
	width: 280px;
	height:420px;
	margin: 15px 15px;
	background:#232323;
	border-radius: 25px;
	overflow: hidden;
	

}
.container .card2:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgb(131,58,180);
	background-image: linear-gradient(to right, #aa151b, #be3b17, #cf5a0f, #dd7805, #e89600, #e89600, #e89600, #e89600, #dd7805, #cf5a0f, #be3b17, #aa151b);
	clip-path: circle(150px at 85% 15%);
	transition : 0.5s ease-in-out;

}
.container .card2:hover:before{
	clip-path: circle(320px at 70% -20%);
}
.container .card2:after{
	content: 'Paris Saint-Germain';
	position: absolute;
	top:50%;
	left: 1%;
	font-size: 3em;
	font-weight: 800;
	font-style: italic;
	color:rgba(255,255,255,0.05);

}

.container .card{
	position: relative;
	width: 280px;
	height:420px;
	margin: 15px 15px;
	background:#232323;
	border-radius: 25px;
	overflow: hidden;
	

}
.container .card:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height:100%;
	background-image: linear-gradient(to right, #006600, #4d6b00, #876700, #c45300, #ff0000);;
	clip-path: circle(150px at 85% 15%);
	transition : 0.5s ease-in-out;

}
.container .card:hover:before{
	clip-path: circle(320px at 70% -20%);
}
.container .card:after{
	content: 'Juventus FC';
	position: absolute;
	top:50%;
	left: 1%;
	font-size: 3em;
	font-weight: 800;
	font-style: italic;
	color:rgba(255,255,255,0.05);

}

.imgBx{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	z-index:10000;
	width: 100%;
	height: 220px;
	
	

}
.imgBx img{
	position: absolute;
	top:20%;
	left:10%;
	width: 270px;
	height: 270px;
	border-radius: 50%;
}

#jb{
	position: absolute;
	top:50%;
	left:-10%;
}
#sa{
	width: 250px;
	height: 250px;
}





.role{
	position: relative;
	padding: 10px 5px;
	text-align: center;
	color: #fff;
	position: relative;
}
	
